@font-face {
   font-family: 'Rinter';
   font-display: swap;
   src: url('Rinter/font.woff2');
}
@font-face {
   font-family: 'AFNeueBerlin-LightItalic';
   font-display: swap;
   src: url('AFNeueBerlin-LightItalic/font.woff2');
}
@font-face {
   font-family: 'AFNeueBerlin-Regular';
   font-display: swap;
   src: url('AFNeueBerlin-Regular/font.woff2');
}
@font-face {
   font-family: 'AFNeueBerlin-Medium';
   font-display: swap;
   src: url('AFNeueBerlin-Medium/font.woff2');
}
