@font-face {
   font-family: 'Rinter';
   font-display: swap;
   src: url('file:///C:/Users/Megaport/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-05-27_104722/fonts/Rinter/font.woff2');
}
