@font-face {
   font-family: 'AFNeueBerlin-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Megaport/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-05-27_104722/fonts/AFNeueBerlin-Regular/font.woff2');
}
